<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dice")
</head>

<body>
    <nav class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <a class="navmenu-brand visible-md visible-lg" href="#">@ViewBag.AppName</a>
        <a class="btn btn-success btn-block" onclick="dice.manager.addPlayer()" href="#">
            <span class="glyphicon glyphicon-plus-sign"></span> Ajouter Joueur
        </a>
    </nav>
    <div class="navbar navbar-default navbar-fixed-top">
        <a class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
            <i class="glyphicon glyphicon-menu-hamburger"></i>
        </a>
    </div>
    @RenderBody()
    <footer class="footer">
        <div class="container">
            <p class="text-muted">@ViewBag.AppName &copy; @DateTime.Now.Year - Davignola</p>
        </div>
    </footer>
</body>
</html>