<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    <link rel="icon" 
          type="image/png" 
          href="/favicon.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dice")
</head>

<body>
    <script>
        $(document).ready(function () {
            // focus and select rename input on show dialog
            $("#" + Dice.Ui.DiceView.renameId).on('shown.bs.modal', function () {
                $("#" + Dice.Ui.DiceView.renameInputId)
                    .focus()
                    .select();
            });
            $("#" + Dice.Ui.DiceView.renameInputId).keyup(function (e) {
                if (e.keyCode === 13) {
                    Dice.Ui.rename();
                    Dice.Ui.hideRename();
                }
            });
            $("#" + Dice.Ui.DiceView.playerPointsAccumulatorId).keyup(function (e) {
                if (e.keyCode === 13) {
                    Dice.Manager.getInstance().nextPlayer();
                }
            });
            var windowHeigth = $(window).height();
            if (windowHeigth <= 657) //for smaller devices
            {
                $("#" + Dice.Ui.DiceView.paramCollapsibleId).removeClass('in');
            }
        });
    </script>
    <div class="container-fluid">
        <nav class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
            <a class="navmenu-brand visible-md visible-lg" href="#">@ViewBag.AppName</a>
            <hr />
            <h3 data-toggle="collapse" data-target="#dice-game-controls">Partie courante</h3>
            <div class="collapse in" id="dice-game-controls">
                <a class="btn btn-success btn-block btn-lg" onclick="Dice.Manager.getInstance().addPlayer()" href="#">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter Joueur
                </a>
                <a class="btn btn-warning btn-block" onclick="Dice.Manager.getInstance().cancelLastMove()" href="#">
                    <span class="glyphicon glyphicon-backward"></span> Annuler Dernier
                </a>
                <br />
                <a class="btn btn-danger btn-block" onclick="Dice.Manager.getInstance().reset()" href="#">
                    <span class="glyphicon glyphicon-repeat"></span> Remise à zéro
                </a>
            </div>
            <hr />
            <h3 data-toggle="collapse" data-target="#dice-params">Règles personalisées</h3>
            <div class="collapse in" id="dice-params">
                Points cible :
                <br />
                <input type="number" class="input-lg" min="0" value="20000" id="dice-param-target" />
                <br />
                Points départ :
                <br />
                <input type="number" class="input-lg" min="0" value="500" id="dice-param-startup" />
                <br />
                Points cumul précédent :
                <br />
                <input type="number" class="input-lg" min="0" value="5000" id="dice-param-cumul" />
                <br />
                <br />
                <a class="btn btn-info btn-block btn-lg" onclick="Dice.Manager.getInstance().newGame()" href="#">
                    <span class="glyphicon glyphicon-play-circle"></span> Nouvelle partie
                </a>
                @*<br />
                <a class="btn btn-block btn-lg" onclick="Dice.Manager.getInstance().loadGame()" href="#">
                    Restaurer
                </a>*@
            </div>
            <hr />
        </nav>
        <div class="navbar navbar-default navbar-fixed-top">
            <a class="navbar-toggle btn-default" data-toggle="offcanvas" data-target=".navmenu">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
            </a>
        </div>
        @RenderBody()
        <div class="modal fade" id="dice-rename" tabindex="-1" role="dialog" aria-labelledby="dice-rename">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                        <h4 class="modal-title" id="myModalLabel">Renommer un joueur</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="dice-rename-input" class="input-lg" />
                    </div>
                    <div class="modal-footer">
                        <!--<a class="btn btn-danger pull-left" data-dismiss="modal" onclick="Dice.Manager.getInstance().removePlayer(Dice.Ui.DiceView.renameCurrentObject.index)">Supprimer</a>-->
                        <a class="btn btn-danger" data-dismiss="modal">Fermer</a>
                        <a class="btn btn-success" data-dismiss="modal" onclick="Dice.Ui.rename()">Renommer</a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <p class="text-muted pull-right" style="margin: 10px 10px 0 0">@ViewBag.AppName &copy; @DateTime.Now.Year - Davignola</p>
        </footer>
    </div>
</body>
</html>